.FullHero {
	background-image: url('../../assets/images/library.jpg');
	background-position: center;
	background-size: cover;
	background-color: #444444;
	background-blend-mode: overlay;

	@apply min-h-screen;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'header'
		'slogan'
		'hours';
}

header {
	grid-area: header;
}

.Slogan {
	grid-area: slogan;
	@apply flex items-center justify-center;
}

.OpenClosed {
	grid-area: hours;
}

@screen lg {
	.FullHero {
		display: grid;
		grid-template-columns: auto 500px;
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
			'header header'
			'image jump-links'
			'slogan hours';
	}

	header {
		grid-area: header;
	}

	.JumpLinks {
		grid-area: jump-links;
	}

	.Slogan {
		@apply flex items-end justify-start;
		grid-area: slogan;

		h1 {
			@apply pl-6 pb-4;
		}
	}

	.OpenClosed {
		grid-area: hours;
	}
}
