.JumpLinks {
	article {
		&:not(:first-of-type) {
			@apply mt-4;
		}

		p {
			@apply mt-4 text-gray-700 font-light;
		}

		& > a {
			@apply inline-block mt-4 text-lg font-light;
		}

		& > h2 > a {
			@apply text-eerie-black;

			&:hover {
				@apply text-flame-dark;
			}
		}
	}
}
