footer {
	section {
		@apply p-8;
	}

	address {
		@apply text-teal-700  not-italic;
	}

	a {
		@apply text-teal-700;

		&:hover {
			@apply text-flame;
		}
	}

	h2 {
		@apply text-lg font-semibold;

		&:not(:first-of-type) {
			@apply mt-6;
		}
	}

	ul {
		@apply mt-6;

		li {
			@apply mt-2;
		}
	}
}
