.burger-wrapper {
	position: relative;
	z-index: 201;
	width: 60px;
	height: 60px;
	padding: 15px;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	cursor: pointer;

	.line-1 {
		width: 27px;
		height: 2px;
		@apply bg-gray-900;

		transform-style: preserve-3d;
		transition: transform 200ms ease 0s;
		transform: translateX(0px) translateY(7px) translateZ(0px) rotateX(0deg)
			rotateY(0deg) rotateZ(45deg);
	}

	.line-2 {
		width: 20px;
		margin-top: 5px;
		margin-bottom: 5px;
		height: 2px;
		@apply bg-gray-900;

		transition: opacity 200ms ease 0s, width 200ms ease 0s;
		opacity: 0;
		width: 0px;
	}

	.line-3 {
		width: 27px;
		height: 2px;
		@apply bg-gray-900;

		transform-style: preserve-3d;
		transition: transform 200ms ease 0s;
		transform: translateX(0px) translateY(-7px) translateZ(0px)
			rotateX(0deg) rotateY(0deg) rotateZ(-45deg);
	}
}

.burger-wrapper.closed {
	.line-1 {
		transform-style: preserve-3d;
		transition: transform 200ms ease 0s;
		transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg)
			rotateY(0deg) rotateZ(0deg);
	}

	.line-2 {
		transition: opacity 200ms ease 0s, width 200ms ease 0s;
		opacity: 1;
		width: 24px;
	}

	.line-3 {
		transform-style: preserve-3d;
		transition: transform 200ms ease 0s;
		transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg)
			rotateY(0deg) rotateZ(0deg);
	}
}

@screen lg {
	header {
		display: flex;
		justify-content: space-between;
	}
}

nav {
	display: block;
	position: absolute;
	left: -9999px;
	transition: 0.2s ease-in-out opacity;
	opacity: 0;

	&.isOpen {
		left: 0;
		opacity: 1;
	}

	li {
		@apply mt-6;
	}

	@screen lg {
		position: static;
		opacity: 1;

		ul {
			display: flex;
			align-items: center;
			white-space: nowrap;
		}

		li {
			@apply inline-block font-serif mt-0;
		}

		li:not(:first-of-type) {
			@apply ml-8;
		}
	}

	a {
		@apply text-lg tracking-wide font-bold text-gray-500;

		&.active {
			@apply text-gray-900 pb-2 border-b-2 border-gray-900;
		}

		&:hover {
			@apply text-gray-900;
		}
	}
}
