@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Inter', sans-serif;
}

.content {
	h1,
	h2,
	h3,
	h4,
	h5 {
		&:not(:first-child) {
			@apply mt-4;
		}
	}

	h2 {
		@apply text-3xl;
	}

	ul {
		list-style: disc outside none;
		@apply ml-8 pl-2;

		li {
			@apply pl-2 leading-loose;
		}

		&:not(:first-child) {
			@apply mt-4;
		}
	}

	p {
		@apply leading-loose;

		&:not(:first-child) {
			@apply mt-4;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Slab', serif;
}

h2.title-accent,
h3.title-accent {
	@apply relative text-3xl border-b-2 border-gray-300 pb-2 font-bold tracking-wide;

	&:after {
		content: '';
		height: 0.3rem;
		width: 2rem;
		position: absolute;
		z-index: 0;
		bottom: -0.3rem;
		left: 0;
		background-color: #f3701d;
	}
}

a {
	@apply text-flame;

	.arrow {
		display: inline-block;
		transition: transform 0.3s ease-in-out;
	}
}

a:hover {
	@apply text-flame-dark;

	.arrow {
		transform: rotate(360deg);
	}
}

a.social-icon {
	@apply inline-block bg-gray-300 text-flame rounded-full p-4;
	transition: all 0.3s ease;
}

a.social-icon:hover {
	@apply bg-flame text-gray-300;
}

.flame-bg {
	background-image: linear-gradient(
		to bottom right,
		rgb(255, 15, 15),
		rgb(254, 19, 19),
		rgb(254, 24, 24),
		rgb(253, 28, 28),
		rgb(252, 32, 32),
		rgb(251, 36, 36),
		rgb(251, 41, 41),
		rgb(250, 45, 45),
		rgb(249, 49, 49),
		rgb(248, 53, 53),
		rgb(248, 58, 58),
		rgb(247, 62, 62)
	);
}

.sapphire-bg {
	background-image: linear-gradient(
		to right bottom,
		#255f85,
		#2a638a,
		#2e688e,
		#336c93,
		#377198
	);
}

.rotate-right {
	transform: rotate(45deg);
}

.rotate-left {
	transform: rotate(315deg);
}
